*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --bg: var(--white);
    --primary: var(--black);
    --yellow: #fff45f;
    --brown-top: rgb(189, 128, 97);
    --brow-bottom: rgb(148, 92, 55);
    --blue-border: rgb(73, 139, 246);
}

img {
    max-width: 100%;
    aspect-ratio: 8/5;
    object-fit: fill;
}

figure {
    max-width: 100%;
    aspect-ratio: 8/5;
}

body, figure {
    margin: 0;
}

body {
    overflow-y: hidden;
}


.opening-animation img {
    aspect-ratio: 3/1;
    margin-block: auto;
}

.opening-animation {
    display: flex;
    height: 100vh;
}

.opening-animation figure {
    margin-block: auto;
    display: flex;
}

.slide-out {
    animation: slide-out 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }

    99% {
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        transform: translateZ(600px);
        opacity: 0;
        display: none;
    }
}


.fade-in {
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 1.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-section {
    min-height: 100vh;
    background-image: url(./Images/background-kamer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.slaapkamer-deur {
    height: 10rem;
    width: 8rem;
    position: absolute;
    right: 0;
}

.table {
    background-color: var(--brown-top);
    min-width: 100vw;
    height: 9rem;
    position: absolute;
    bottom: 0;
}

.table div:nth-child(1) {
    position: absolute;
    bottom: 0;
    background-color: var(--brow-bottom);
    width: 100vw;
    height: 4rem;
}


.fig {
    position: absolute;
    /* top: 55%; */
    bottom: 4rem;
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fig>div {
    display: flex;
}

.fig img {
    width: 100px;
}

/* keuken */

.main-keuken {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.keuken-img-frigo {
    position: absolute;
    right: 0;
    height: 10rem;
    width: 10rem;
    top: 0;
}

.keuken-img-micro {
    position: absolute;
    left: 12%;
    top: 20%;
    height: 5rem;
    width: 7rem;
}

.keuken-img-diepvries {
    position: absolute;
    height: 5rem;
    width: 10rem;
    right: 0;
    top: 45%;
}

.table-items {
    height: 7rem;
    position: absolute;
    left: 40%;
    bottom: 0;
}

.table-items img {
    height: 8rem;
}

.item-snijden {
    height: 7rem;
    position: absolute;
    left: 40%;
    bottom: 0;
}

.item-schijden img {
    height: 7rem;
}


/* frigo */

.main-frigo {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.inv {
    width: 80vw;
    height: 80vh;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: .6rem;
    border: 2px solid var(--blue-border);
}

.inv h2 {
    margin: 0;
    padding: .9rem;
}

.inv-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inv-top img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .9rem;
    margin-top: .7rem;
}

.inv-item {
    height: 4.2rem;
    width: 4.2rem;
    background-color: rgba(128, 128, 128, 0.209);
    border: 1px solid gray;
    border-radius: .6rem;
}

.inv-item img {
    min-height: 100%;
    min-width: 100%;
}

.list-inv {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: 2rem;
    gap: 1rem;
}

.main-diepvries {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}


/* Keuken zoom */

.main-keuken-zoom {
    min-height: 100vh;
    background-image: url(./Images/Keuken-zoom-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.keuken-zoom-img-kast {
    height: 5rem;
    width: 22rem;
    position: absolute;
    right: 0%;
    bottom: 0;
    /*background-color: yellow;*/
}

/* keuken zoom kast */

.main-kast {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}









.hidden {
    display: none;
}