*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --bg: var(--white);
    --primary: var(--black);
    --yellow: #fff45f;
    --brown-top: rgb(189, 128, 97);
    --brow-bottom: rgb(148, 92, 55);
    --blue-border: rgb(73, 139, 246);
}

/* button:focus-visible {
    box-shadow:#fff45f 1rem 1rem ;
} */

button {
    background-color: transparent;
    /* border: none; */
}


button:hover {
    box-shadow: 0 0 100px 60px #fff45f;

}


img {
    max-width: 100%;
    aspect-ratio: 8/5;
    object-fit: fill;
}

figure {
    max-width: 100%;
    aspect-ratio: 8/5;
}

body, figure {
    margin: 0;
}

body {
    overflow-y: hidden;
}


.opening-animation img {
    aspect-ratio: 4/1;

    margin: 0;
}

.opening-animation {
    min-height: 100vh;
    background-image: url(./Images/Berghoff_black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 10%;
    background-position: center;
    position: relative;

}

.opening-animation figure {
    margin-block: auto;
    display: flex;
}

.slide-out {
    animation: slide-out 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }

    99% {
        transform: translateZ(600px);
        opacity: 0;
    }

    100% {
        transform: translateZ(600px);
        opacity: 0;
        display: none;
    }
}


/* .fade-in {
    animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 1.5s;
} */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-section {
    min-height: 100vh;
    background-image: url(./Images/background-kamer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.slaapkamer-deur {
    height: 10rem;
    width: 8rem;
    position: absolute;
    right: 0;
}

.table {
    background-color: var(--brown-top);
    min-width: 100vw;
    height: 30%;
    position: absolute;
    bottom: 0;
}

.table div:nth-child(1) {
    position: absolute;
    bottom: 0;
    background-color: var(--brow-bottom);
    width: 100vw;
    height: 50%;
}


.fig {
    position: absolute;
    /* top: 55%; */
    bottom: 15%;
    height: 20%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fig>div {
    display: flex;
    height: 100%;
    align-items: center;
    margin-inline-start: 10%;
}

.fig img {
    width: 80%;
}

.fig figure {
    width: 100%;
}

/* keuken */

.main-keuken {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.keuken-img-frigo {
    position: absolute;
    right: 0;
    height: 45%;
    width: 20%;
    top: 0;
}

.keuken-img-micro {
    position: absolute;
    left: 12%;
    top: 20%;
    height: 20%;
    width: 12%;
}

.keuken-img-diepvries {
    position: absolute;
    height: 25%;
    width: 20%;
    right: 0;
    top: 45%;
}

.table-items {
    height: 7rem;
    position: absolute;
    left: 40%;
    bottom: 0;
}

.table-items img {
    height: 35%;
}

.item-snijden {
    height: 7rem;
    position: absolute;
    left: 40%;
    bottom: 0;
}

.item-schijden img {
    height: 7rem;
}


/* frigo */

.main-frigo {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.inv {
    width: 40rem;
    height: 16rem;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: .6rem;
    border: 2px solid var(--blue-border);
}

.inv h2 {
    margin: 0;
    padding: .9rem;
}

.inv-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inv-top img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .9rem;
    margin-top: .7rem;
}

.inv-item {
    height: 4.2rem;
    width: 4.2rem;
    background-color: rgba(128, 128, 128, 0.209);
    border: 1px solid gray;
    border-radius: .6rem;
}

.inv-item img {
    min-height: 100%;
    min-width: 100%;
}

.list-inv {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-inline-start: 2rem;
    gap: 1rem;
}

.main-diepvries {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}


/* Keuken zoom */

.main-keuken-zoom {
    min-height: 100vh;
    background-image: url(./Images/Keuken-zoom-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}

.keuken-zoom-img-kast {
    height: 22%;
    width: 45%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    /*background-color: yellow;*/
}

/* keuken zoom kast */

.main-kast {
    min-height: 100vh;
    background-image: url(./Images/Keuken-img-glow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    background-position: center;
    position: relative;
}





@media screen and (min-width: 800px) and (min-height: 400px) {
    .table-items {
        bottom: 10%;
    }

    .keuken-img-micro {
        left: 12%;
        top: 25%;
        height: 18%;
        width: 12%;
    }

    .slaapkamer-deur {
        height: 13rem;
        width: 8rem;
        position: absolute;
        right: 0;
    }

}

@media screen and (min-width: 800px) and (min-height: 550px) {
    .table-items {
        bottom: 17%;
    }

    .slaapkamer-deur {
        height: 18rem;
        width: 7rem;
    }

    .keuken-img-micro {
        left: 10%;
        top: 30%;
        height: 15%;
        width: 12%;
    }

    .keuken-img-diepvries {
        height: 20%;
        width: 20%;
    }

    .keuken-zoom-img-kast {
        height: 25%;
        width: 40%;
    }
}

@media screen and (min-width: 800px) and (min-height: 650px) {
    .table-items {
        bottom: 20%;
    }

    .keuken-img-micro {
        left: 3%;
        top: 30%;
        height: 15%;
        width: 15%;
    }

    .keuken-img-diepvries {
        height: 20%;
        width: 15%;
    }

    .keuken-img-frigo {
        width: 15%;
    }

    .slaapkamer-deur {
        height: 21rem;
        width: 5rem;
    }

}


@media screen and (min-width: 950px) and (min-height: 650px) {

    .keuken-img-micro {
        left: 9%;
        top: 30%;
        height: 15%;
        width: 15%;
    }

    .slaapkamer-deur {
        height: 21rem;
        width: 9rem;
    }

    .keuken-img-diepvries {
        height: 20%;
        width: 20%;
    }

    .keuken-img-frigo {
        width: 20%;
    }

}

/* @media screen and (min-height: 650px) {
    .slaapkamer-deur {
        
        width: 11rem;
    }
} */

@media screen and (min-width: 1050px) and (min-height: 650px) {
    .inv {
        width: 50rem;
        height: 26rem;
    }


    .slaapkamer-deur {
        height: 21rem;
        width: 11rem;
    }

    .inv-item {
        height: 8rem;
        width: 8rem;
        background-color: rgba(128, 128, 128, 0.209);
        border: 1px solid gray;
        border-radius: .6rem;
    }

}


@media screen and (min-width: 1350px) and (min-height: 650px) {
    .inv {
        width: 70rem;
        height: 30rem;
    }

    .slaapkamer-deur {
        height: 21rem;
        width: 15rem;
    }

    .inv-item {
        height: 10rem;
        width: 10rem;
        background-color: rgba(128, 128, 128, 0.209);
        border: 1px solid gray;
        border-radius: .6rem;
    }

}


@media screen and (min-width: 1050px) and (min-height: 750px) {
    .slaapkamer-deur {
        height: 25rem;
        width: 11rem;
    }
}

@media screen and (min-width: 1400px) and (min-height: 850px) {
    .slaapkamer-deur {
        height: 30rem;
        width: 11rem;
    }
}



.hidden {
    display: none;
}