*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --bg: var(--white);
    --primary: var(--black);
    --yellow: #fff45f;
}

img {
    max-width: 100%;
    aspect-ratio: 8/5;
    object-fit: fill;
}

figure {
    max-width: 100%;
    aspect-ratio: 8/5;
}

body, figure {
    margin: 0;
}

body {
    overflow-y: hidden;
}




.main-section {
    min-height: 100vh;
    background-image: url(./Images/Kamer_background+desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
}